@font-face {
    font-family: 'Brush Script MT';
	src: local('BrushScriptMT'), local('Brush'), url('Font/BrushScriptMT/brush script mt kursiv.ttf') format('truetype');
}

body {
    font-size: 97.5%; 
    font-family: Arial, Lucida Sans Unicode;
    line-height: 1.5;
    text-align: left;
    background-color: white;
    background-attachment: fixed;
    background-size: 100%;
    background-image: url("Images/back.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    
    padding-top: 50px;
    margin: 0;
} 

h1, h2, h3, h4, h5 {
    size: 7%;
    color: #8EC23B;
    font-family: 'Brush Script MT';
}

a:link, a:visited {
	color: #919191;
	padding: 0 1px;
	text-decoration: none;
}

a:hover, a:active {
	color: #fff;
	text-decoration: none;
}

input[type="text"] ,input[type="password"] ,input[type="submit"] {
    margin-bottom: 1%;
    padding: 0.45%;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

INPUT:hover {
    background: rgba(0, 0, 0, 0.01);
    color: #fff;
}

#navBar {
    border-top: 0;
    border-bottom: 3px solid;
    background-color: #000;
    height: 50px;
    position: fixed;
    
    top: 0;
    width: 100%;
    display: inline;
}

#search {
    float:left;
    padding-top: 6px; 
    padding-left: 6%;
}

#search input[type="text"] {
    background: #444;
    border: 0 none;
    font: bold 15px Arial,Helvetica,Sans-serif;
    color: #fff;
    
    width: 350px;
    height: 40px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#search input[type="text"]:focus {
    width: 450px;
    }

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.menu,
.submenu {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Main level */
.menu {		
    margin-left: 68%;
	width: 100%;
	width: fit-content;	
}

.menu > li {
	background: #000;
	float: left;
	position: relative;
	transform: skewX(25deg);
}

.menu a {
	display: block;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-family: Arial, Helvetica;
	font-size: 14px;
}		

.menu li:hover {
	background: #8EC23B;
}		

.menu > li > a {
	transform: skewX(-25deg);
	padding: 1em 2em;
}

/* Dropdown level*/
.submenu {
	position: absolute;
	width: 200px;
	left: 50%; margin-left: -100px;
	transform: skewX(-25deg);
	transform-origin: left top;
}

.submenu li {
	background-color: #474747;
	position: relative;
	overflow: hidden;		
}						

.submenu > li > a {
	padding: 1em 2em;			
}

.submenu > li::after {
	content: '';
	position: absolute;
	top: -125%;
	height: 100%;
	width: 100%;			
	box-shadow: 0 0 50px rgba(0, 0, 0, .9);			
}		

/* Odd stuff */
.submenu > li:nth-child(odd){
	transform: skewX(-25deg) translateX(0);
}

.submenu > li:nth-child(odd) > a {
	transform: skewX(25deg);
}

.submenu > li:nth-child(odd)::after {
	right: -50%;
	transform: skewX(-25deg) rotate(3deg);
}				

/* Even stuff */
.submenu > li:nth-child(even){
	transform: skewX(25deg) translateX(0);
}

.submenu > li:nth-child(even) > a {
	transform: skewX(-25deg);
}

.submenu > li:nth-child(even)::after {
	left: -50%;
	transform: skewX(25deg) rotate(3deg);
}

/* Show dropdown */
.submenu,
.submenu li {
	opacity: 0;
	visibility: hidden;			
}

.submenu li {
	transition: .2s ease-out transform;
}

.menu > li:hover .submenu,
.menu > li:hover .submenu li {
	opacity: 1;
	visibility: visible;
}		

.menu > li:hover .submenu li:nth-child(even){
	transform: skewX(25deg) translateX(15px);			
}

.menu > li:hover .submenu li:nth-child(odd){
	transform: skewX(-25deg) translateX(-15px);			
}

#mainContent {
    background-color: white;
    
    box-shadow: 0 5px 3px rgba(0,0,0,0.8);
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#partLogo{
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    background-color: rgba(0, 0, 0, 0.001);
    width: 90%;
    margin-top: 200px;
    
    padding-left: 8%;
    padding-bottom: 15px;
    padding-top: 10px;
}

#partZero{
    background-color: rgba(0, 0, 0, 0.5);
    width: 72%;
    float: left;
    text-align: left;
    margin-top: 250px;
    
    padding-left: 15%;
    padding-bottom: 15px;
    padding-top: 10px;
    padding-right: 13%;
}

#partOne{
    background-color: white;
    width: 72%;
    float: left;
    height: 270px;
    display: inline-block;
    
    padding-left: 15%;
    padding-bottom: 15px;
    padding-top: 10px;
    padding-right: 13%;
}

#form{
    background-color: white; /*rgba(0, 0, 0, 0.01);*/
    width: 72%;
    float: right;
    text-align: right;
    
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    
    padding-left: 15%;
    padding-bottom: 15px;
    padding-top: 10px;
    padding-right: 13%;
}

#partFour{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 72%;
    height: 270px;
    shape-outside: polygon();
    shape-inside: polygon();
    
    float: left;
    text-align: left;
    margin: 0 auto;
    
    padding-left: 15%;
    padding-bottom: 15px;
    padding-top: 10px;
    padding-right: 13%;
}

#partTwo{
    background-color: white;
    width: 72%;
    float: left;
    height: 270px;
    display: inline-block;
    
    padding-left: 15%;
    padding-bottom: 15px;
    padding-top: 10px;
    padding-right: 13%;
}

#partFive{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 72%;
    float: left;
    height: 270px;
    text-align:  left;
    
    padding-left: 15%;
    padding-bottom: 15px;
    padding-top: 10px;
    padding-right: 13%;
}

#partThree{
    background-color: white;
    width: 72%;
    float: left;
    
    height: 270px;
    text-align:  left;
    
    padding-left: 15%;
    padding-bottom: 15px;
    padding-top: 10px;
    padding-right: 15%;
}

#footerWrapper {
    vertical-align: middle;
    line-height: 35px;
    
    height: 200px;
    width: 100%;
    float: left;
    color: #85C724;
    position: static;
    
    padding-top: 20px;
    padding-bottom: 20px;
    
    box-shadow: 0 5px 40px rgba(0,0,0,0.8);
    background-color: black; /*rgba(0, 0, 0, 0.5);*/
}

#footerLogo {
    width: 350px;
    height: 50px;
    float: left;
    margin-left: 250px;

}

#footerGroup1 {
    width: 250px;
    height: 50px;
    float: left;
}

#footerGroup2 {
    width: 250px;
    height: 50px;
    float: left;
}

#footerGroup3 {
    float: left;
    width: 250px;
    height: 50px;
}

#copyright {
    padding-top: 50px;
    float: center;
    height: 5px;
}
/*---------For tablets and smaller screens-----------------------*/
@media only screen and (min-width: 800px) and (max-width: 1450px) {

    body {
        width: 100%;
        font-size: 95%;
        background-color: floralwhite;
    } 

    #navBar {
        height: 50px;
        position: fixed;

        top: 0;
        width: 100%;
        text-align: center;
        display: inline;
    }

    #content{
        background-color: rgba(255, 232, 145, 1);
        width: 60%;
    }
    
    #mainContentHome{
        margin-top: 15px;
    }
    
    #sidebarHome{
        width: 71.6%;
    }
    
    #contentHome{
        width: 70%;
        margin-left: 15%;
    }
    .modal-content {
        top: 80px;
        right: 3.5% ;
        width: 700px;
        height: 250px;

    }

}
/*---------For smartphones and smaller tablets-------------------*/
@media only screen and (min-width: 150px) and (max-width: 800px) {

    body {
        width: 90%;
        font-size: 95%;
        background-color: floralwhite;
    } 

    #navBar {
        top: 0;
        width: 100%;
        text-align: center;
        display: inline;
    }

    #navBar nav{
        border: 2px solid;
        background-color: #99CC00;
        margin-left: 19%;
        width: 66%;
        height: 50px; 
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
    }
    
    #navBar scrtch{
        margin-left: 0;
    }

    #navBar nav scrolled{
        position: relative;
        top: 0;
    }

    #navBar nav a:link{
        font-weight: bold;
        color: #fff;
        display: inline-block;
        margin-top: 2px;
        padding: 12px 25px;
        height: 21px;
    }

    #content{
        background-color: rgba(255, 232, 145, 1);
        width: 60%;
        float: left;
        text-align:  center;
        margin-top: 95px;
        margin-left: 19%;

        padding-left: 20px;
        padding-bottom: 15px;
        padding-top: 10px;
        padding-right: 10px;

        box-shadow: 0 5px 30px rgba(0,0,0,0.8);
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px; 
    }

    #mainContentHome{
        margin-top: 80px;
    }
    
    #sidebarHome{
        width: 73%;
    }
    
    #contentHome{
        width: 70%;
        margin-left: 15%;
    }
    .modal-content {
        top: 80px;
        right: 1% ;
        width: 480px;
        height: 250px;

    }
    
}